<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PureBite - Food poisoning information and food combination checking tool </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="body">
    <header>
        
        <div class="header">
            <a href = "{{ url_for('home')}}" class="title_link">
                <h1 class="title">PureBite</h1>
            </a>

            <div class="gcse-search">
                <script async src="https://cse.google.com/cse.js?cx=91cb9696600824c99"></script>
            </div>
        </div>

        <div>
            <nav class="navigation">
                <a href = "{{ url_for('home')}}"> Home </a>
                <a href = "{{ url_for('overall')}}"> Overall information </a>
                <a href = "{{ url_for('transmission')}}"> Transmission routes </a>
                <a href = "{{ url_for('prevention')}}"> Prevention tips </a>
                <a href = "{{ url_for('checker')}}"> Compatible checker </a>
            </nav>
        </div>

    </header>

    <div class = "container">
        <div class = "left">
            <h1 class="guidance_title">Guidance on how to use our food compatibility checking tool </h1>
            <p class="left"> Guidance on how to use our food compatibility checking tool </p>
        </div>
        <div class="right"> 
            <h2 class ="h2"> Food compatibility checker </h2>
            <div class="checker">
                <form method="post" class="left_side_checker" action="{{ url_for('checker')}}">
                    <h3 class="h3">Enter the first food name </h3>
                    <input type="text" name="stfoodname" class="input_food"  value="{{ first_food }}" required>
                    <h3 class="h3">Enter the second food name </h3>
                    <input type="text" name="ndfoodname" class="input_food" value="{{ second_food }}" required>
                    <br><br>
                    <div class="btn_group">
                        <input type="submit" value="Submit" class="btn_submit">
                        <a href="{{ url_for('checker') }}" class="btn_clear">Clear</a>
                    </div>
                </form>
                {% if result %}
                    <img src="{{ url_for('static', filename=result.image) }}"
                         alt= "Food compatibility result"
                         class=" right_side_checker">
                {% else %}
                    <img src="{{ url_for('static', filename='default.png') }}"
                        alt="Check This Tool" class="right_side_checker">    
                {% endif %}
            </div>
                <div>
                <h2 class = "result_status">{{result.status}}</h2>
                <p class = "result_message"> {{result.message}} </p>
            </div> 
        </div>   
    </div>
</body>
</html>
