<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
</head>
<body class="body">
    <header class="header">
        <h1 class="title">PureBite</h1>
        <div class="gcse-search">
            <script async src="https://cse.google.com/cse.js?cx=91cb9696600824c99"></script>
        </div>
    </header>
    <div class = "container">
        <form class = "left">
            <h1>PureBite</h1>
        <p class="left">Welcome to PureBite! Please enter the names of two foods to find out how similar they are.</p>
        </form>
        <div class="right"> 
            <div class="checker">
                <form method="post" class="left_side_checker">
                    <h3>Enter the first food name </h3>
                    <input type="text" name="stfoodname" required>
                    <h3>Enter the second food name </h3>
                    <input type="text" name="ndfoodname" required>
                    <br><br>
                    <input type="submit" value="Submit">
                </form>
                <img src="{{ url_for('static', filename='default-img-in-the-checker.png') }}" alt="Check This Tool" class="right_side_checker"> 
                {% if result %}
                <div class ="result">
                    <h2>{{result.status}}</h2>
                    <p> {{result.message}} </p>
                </div>    
                {% endif %}
            </div>    
        </div>   
    </div>
</body>
</html>
