<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PureBite</title>
</head>
<body>
    <div class = "container">
        <form class = "left">
            <h1>PureBite</h1>
        <p class="left">Welcome to PureBite! Please enter the names of two foods to find out how similar they are.</p>
        </form>
        <div class="right"> 
            <div class="checker">
                <form method="post" class="left_side_checker">
                    <h3>Enter the first food name </h3>
                    <input type="text" name="stfoodname" required>
                    <h3>Enter the second food name </h3>
                    <input type="text" name="ndfoodname" required>
                    <br><br>
                    <input type="submit" value="Submit">
                </form>
                <img src="{{ url_for('static', filename='default-img-in-the-checker.png') }}" alt="Check This Tool" class="right_side_checker"> 
            </div>    
        </div>       
    </div>
        
    

</body>
</html>
